[submodule "argparse"]
	path = argparse
	url = https://github.com/cofyc/argparse
[submodule "utf8"]
	path = utf8
	url = https://github.com/mcindrich/utf8
[submodule "Nuklear"]
	path = Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear
[submodule "cconf"]
	path = cconf
	url = https://github.com/mcindrich/cconf
